/* layout.css should contain general positioning on the page
Apply to elements such as header, footer, nav, aside
Classes and IDs can be included here */

nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
}
  
nav {
    margin-top: 25px;
}

#logo {
    float: left;
    padding-bottom: 25px;
    color: black;
    text-decoration: none;
}
  
#logo img {
    float: left;
}
  
nav ul {
    float: right;
}
  
nav li {
    float: left;
    padding-right: 2px;
}
  
.date {
    float: left;
}
  
.print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
}
  
aside {
    padding-top: 30px;
    padding-bottom: 60px
}
  
aside img {
    float: left;
}
